<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout}">

<head th:replace="layout/fragments/head.html :: head('Afhentningslokationer')" />
<body layout:fragment="content">
    <div sec:authorize="hasAnyRole('ROLE_CLIENT', 'ROLE_ANONYMOUS')" th:replace="pickups/fragments/client_index_vertical.html :: clientIndex('Afhent din bil på følgende lokationer')" />

    <!-- EMPLOYEE SETTINGS -->
    <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
        <h2 class="margin text-center">Afhentningssteder</h2>

        <div th:if="${pickupPoints.size() == 0}" th:replace="layout/fragments/empty_state.html :: empty_state('Ingen afhentningslokationer blev fundet.', 'Klik på knappen for komme igang.', '/pickups/create', 'Opret Afhentningslokation')" />

        <div th:if="${pickupPoints.size() > 0}" class="text-box secondary text-center">
            <!-- Insætter <span class="line-1" /> ... -->
            <div th:replace="layout/fragments/lines.html :: lines" />

            <div class="text-center">
                <div>
                    <table class="table border" style="width: 100%">
                        <tr>
                            <th>Lokation</th>
                            <th>Adresse</th>
                            <th>Rediger</th>
                        </tr>
                        <tr th:each="pickupPoint: ${pickupPoints}">
                            <td th:text="${pickupPoint.getName()}"> </td>
                            <td th:text="${pickupPoint.getAddress().toString()}"></td>
                            <td>
                                <a class="button table primary small"
                                    th:href="@{/pickups/edit/{id}(id = ${pickupPoint.getId()})}">Rediger</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br><br>
            <a class="button primary medium" th:href="@{/pickups/create}">Opret</a>
        </div>
    </div>


</body>

</html>