<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">
    <h1>Pickups (<a th:href="@{/pickups/index.html}">new</a>)</h1>

        <ul th:each="p : ${pickupPoints}">
            <li>
            <p th:text="${p.id}"></p>
            <p th:text="${p.name}"></p>
            <p th:text="${p.addressId}"></p>
            <p th:text="${p.createdAt}"></p>
            <p th:text="${p.updatedAt}"></p>
            </li>
        </ul>
</body>
</html>