<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">
    <h1>Pickups (<a th:href="@{/pickups/create}">new</a>)</h1>
    <table class="table.">
        <tr>
            <th>Lokation</th>
            <th>Adresse id</th>
        </tr>

        <tr th:each="pickupPoint: ${pickupPoints}">
            <td th:text="${pickupPoint.getName()}"> </td>
            <td th:text="${pickupPoint.getAddressId()}"></td>
            <td><a class="button" th:href="@{/pickups/edit/{id}(id = ${pickupPoint.getId()})}">Edit</a></td>
        </tr>
    </table>
</body>
</html>