<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">

    <div class="header">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
        <nav class="flex align-items-center justify-space-evenly gap-5">
            <a class="button primary medium" href="/">Home</a>
            <a class="button primary medium" href="/cars">Cars</a>
            <a class="button primary medium" href="/pickups">Pickups</a>
            <a class="button primary medium" href="/subscriptions">Subscriptions</a>
            <a class="button primary medium" href="/bookings">Bookings</a>

            <div sec:authorize="hasRole('ROLE_CLIENT')" class="flex align-items-center justify-space-evenly gap-5">

                <div class="vr"></div>

                <a class="button primary rounded small" href="/user">
                    <i class="fa-sharp fa-solid fa-user"></i>
                </a>
                <form th:action="@{/logout}" th:method="post" class="d-inline">
                    <button type="submit" class="button primary rounded small">
                        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
</header>