<header th:fragment="header" 
        xmlns:th="http://www.thymeleaf.org">
        
    <div class="header">
        <img src="/images/logo.png" alt="logo">
        <nav>
            <a class="button primary" href="/">Home</a>
                <a class="button primary" href="/cars">Cars</a>
                <a class="button primary" href="/pickups">Pickups</a>
                <a class="button primary" href="/subscriptions">Subscriptions</a>
                <a class="button primary" href="/bookings">Bookings</a>

            <div sec:authorize="hasRole('ROLE_CLIENT')" class="d-flex gap-2">

                    <div class="vr"></div>

                    <a class="navbar-link btn btn-outline-secondary btn-sm" href="/user">
                        Profile
                    </a>                    
                    <form th:action="@{/logout}" th:method="post" class="d-inline">
                        <input type="submit" class="navbar-link btn btn-outline-danger btn-sm" value="logout" />
                    </form>
            </div>
        </nav>      
    </div>
</header>