<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="layout/head.html :: head('random title')" />
    <body>
        <div th:replace="layout/header.html :: header" />        
        
        <div class="container">
            <div th:replace="layout/alert.html :: alert" />
            <div layout:fragment="content"></div>
        </div>
        
        <footer class="text-center">
            Copyright © 2022 Bilabonnement All rights reserved
        </footer>
    </body>
</html>