<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Written by Nicolai Berg Andersen -->
<style>
    /*
     * Add 80px toward the bottom to counter the fixed footer element.
     */
    body {
        margin-bottom: 80px;
    }
</style>

<body>
    <div th:replace="layout/fragments/header.html :: header" />

    <div class="container">
        <div th:replace="layout/fragments/alert.html :: alert" />
        <div layout:fragment="content"></div>
    </div>

    <div th:replace="layout/fragments/footer.html :: footer" />
</body>

</html>