<div th:fragment="show(creditRating)" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${creditRating == null}">
        <p>Kreditvurdering: <span class="text-danger"><i class="fa-regular fa-circle-xmark"></i></span></p>
    </div>
    <div th:if="${creditRating != null && creditRating.getState().toString() == 'Approve'}">
        <p>Kreditvurdering: <span class="text-success"><i class="fa-regular fa-circle-check"></i></span></p>
    </div>
    <div th:if="${creditRating != null && creditRating.getState().toString() == 'Reject'}">
        <p>Kreditvurdering: <span class="text-danger"><i class="fa-regular fa-circle-xmark"></i></span></p>
    </div>
</div>