<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
    <head></head>
    <body layout:fragment="content">
        <div>
            <div class="card p-3 mb-3 mt-3">
                <h2>Update details</h2>
                <form th:action="@{/user}" th:object="${user}" th:method="patch">
                    <div>
                        <label name="username">Username</label>
                        <input th:field="*{username}" type="text" placeholder="username" autocomplete="off" required>
                    </div>
                    <div>
                        <label name="email">E-mail</label>
                        <input th:field="*{email}" type="text" placeholder="email" autocomplete="off" required>
                    </div>
                    <div>
                        <input type="submit" value="Save" class="btn btn-outline-secondary mt-2" />
                    </div>
                </form>
            </div>
            
            <div class="card p-3 mb-3 mt-3">
                <h2>Update password</h2>
                <form th:action="@{/user/password}" th:object="${user}" th:method="patch">
                    <div>
                        <div>
                            <label name="password" class="form-label">Password</label>
                            <small>Min length: 8 characters</small>
                        </div>
                        <input name="password" type="text" placeholder="password" autocomplete="off" minlength="8" required>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-outline-secondary mt-2" value="Save" />
                    </div>
                </form>
            </div>
            
            <div class="card p-3 mb-3 mt-3">
                <h2>Disable user</h2>
                <form th:action="@{/user}" th:object="${user}" th:method="delete">
                    <button type="submit" class="btn btn-outline-danger mt-2">Disable</button>
                </form>
            </div>
        </div>
    </body>
</html>
