<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
    <head></head>
    <body layout:fragment="content">
        <div class="card p-3 mb-3 mt-3">
            <div th:if="${param.error}">
                Invalid username or password.
            </div>
            <h2>Login</h2>
            <form th:action="@{/login}" th:method="post">
                <div>
                    <label name="username">Username</label><br>
                    <input type="text" name="username"
                           placeholder="Username"
                           autocomplete="off"
                           required="required" />
                </div>
                <div>
                    <label name="password" class="form-label">Password</label><br>
                    <input type="password" name="password" 
                           placeholder="new password ..."
                           autocomplete="off"
                           required="required"
                           minlength="8" />
                </div>
                <div>
                    <input type="submit" class="btn btn-outline-secondary btn-sm mt-3" value="login" />
                </div>
            </form>
        </div>
    </body>
</html>
