<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout}">

<head></head>

<body layout:fragment="content">

    <div class="background-image cover" th:style="'background-image:url(' + @{${timeOfDayImage}} + ');'">
        <div class="overlay">
            <p class="text-white">
                <span><span th:text="${timeOfDayGreeting}" /> <strong th:text="${user.getUsername()}" />.<br>
                    <small>Velkommen til dit dashboard.</small></span><br>
                <br>
                <small>
                    <span>Rolle(r):</span>
                    <span th:each="authority: ${user.getAuthorities()}">
                        <strong th:if="${authority.toString() == 'ROLE_CLIENT'}">Kunde;</strong>
                        <strong th:if="${authority.toString() == 'ROLE_EMPLOYEE'}">Medarbejder;</strong>
                    </span>
                </small>
            </p>
        </div>
    </div>

    <div class="flex justify-space-between gap-8">
        <a class="button primary large text-center min-height-185" href="/user/edit">
            <p><strong><i class="fa-solid fa-user-pen"></i><br> Profil</strong></p>
            <small>Du modtager lige<br> nu faktura på <strong th:text="${user.getEmail()}" /></small><br><br>
        </a>
        <a class="button primary large text-center min-height-185" href="/bookings">
            <p><strong><i class="fa-solid fa-car-side"></i><br> Udlejningsaftaler</strong></p>
            <small>Du har lige nu <strong>0</strong> udlejningsaftaler.</small><br><br>
        </a>
        <a class="button primary large text-center min-height-185" href="/pickups">
            <p><strong><i class="fa-solid fa-location-dot"></i><br> Afhentningslokationer</strong></p>
            <small>Der findes lige nu <strong>0</strong> afhentningslokationer.</small><br><br>
        </a>
        <a class="button primary large text-center min-height-185" href="/subscriptions">
            <p><strong><i class="fa-solid fa-tags"></i><br> Abonnementer</strong></p>
            <small>Der findes lige nu <strong>0</strong> abonnementer.</small><br><br>
        </a>
    </div>
    <br>
    <div class="flex justify-space-between gap-8">
        <a class="button primary large text-center min-height-185" href="/bookings">
            <p><strong><i class="fa-solid fa-car"></i><br> Biler</strong></p>
            <small>Vi har lige <strong>0</strong> biler til udlejning.</small><br><br>
        </a>
        <a class="button primary large text-center min-height-185" href="/pickups">
            <p><strong><i class="fa-regular fa-handshake"></i><br> Handelsbetingelser</strong></p>
            <small>Find information<br> om vores handelsbetingelser.</small><br><br>
        </a>
        <a class="button primary large text-center min-height-185" href="/subscriptions">
            <p><strong><i class="fa-regular fa-address-card"></i><br> Om os</strong></p>
            <small>Find mere information om vores virksomhed.</small><br><br>
        </a>
        <form th:action="@{/logout}" th:method="post" class="display inline">
            <button type="submit" class="button primary large text-center min-height-185">
                <p><strong><i class="fa-sharp fa-solid fa-right-from-bracket"></i><br> Log ud</strong></p>
                <small>Du kan altid logge på igen, så længe du kan huske din kode.</small><br><br>
            </button>
        </form>
    </div>
    <br><br>
</body>

</html>