<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
    <head></head>
    <body layout:fragment="content">
        <div class="flex justify-space-evenly text-center">
            <div>
                <div th:if="${param.error}">
                    Invalid username or password.
                </div>
                <h2>Opret bruger</h2>
                <form th:action="@{/signup}" th:object="${user}" th:method="post" class="form">
                    <div class="input-control">
                        <label name="username">Brugernavn</label>
                        <input type="text" th:field="*{username}"
                               placeholder="Brugernavn"
                               autocomplete="off"
                               required="required" />
                    </div>
                    <div class="input-control">
                        <label name="email">E-mail</label>
                        <input type="email" th:field="*{email}"
                               placeholder="E-mail"
                               autocomplete="off"
                               required="required" />
                    </div>
                    <div class="input-control">
                        <label name="password" class="form-label">Adgangskode</label>
                        <input type="password" th:field="*{password}" 
                               placeholder="Adgangskode"
                               autocomplete="off"
                               required="required"
                               minlength="8" />
                    </div>
                    <div>
                        <button type="submit" class="button primary medium">Opret</button>
                    </div>
                </form>
            </div>
            <div>
                <img src="/images/textWheel.png" class="image fit" alt="Text wheel" style="width: 300px">
            </div>
        </div>

    </body>
</html>
