<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head.html :: head('Opret bruger')" />

<body>
    <div class="flex justify-space-evenly">
        <div class="width-percent-50 height-100-vh padding relative ">
            <a href="/"><img src="/images/logo.png" alt="logo" class="margin logo"></a>
            <div th:replace="layout/alert.html :: alert" />

            <div class="absolute left right bottom">
                <h2 class="text-black">Opret en gratis bruger</h2>
                <p>
                    <span th:text="${timeOfDayGreeting}" />,    
                    <span>Indtast dine oplysninger nedenunder for at komme igang.</span>
                </p><br />
                
                <form th:action="@{/signup}" th:object="${user}" th:method="post" class="form">

                    <div class="input-control">
                        <input type="text" th:field="*{username}" placeholder="Brugernavn" id="username"
                            autocomplete="off" required="required" class="width-percent-100" /><br />
                        <small>Dit brugernavn skal være unikt.</small>
                    </div>
                    <br />

                    <div class="input-control">
                        <input type="email" th:field="*{email}" placeholder="E-mail" id="email" autocomplete="off"
                            required="required" class="width-percent-100" /><br />
                        <small>Den e-mail du angiver bruges til at sende vigtig information som faktura.</small>
                    </div>
                    <br />

                    <div class="input-control">
                        <input type="password" th:field="*{password}" placeholder="Adgangskode" autocomplete="off"
                            id="password" required="required" minlength="8" class="width-percent-100" /><br />
                        <small>Din adgangskode skal mindst være på 8 tegn.</small>
                    </div>
                    <br />

                    <div>
                        <button type="submit" class="button success medium width-percent-100 no-shadow">Opret</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="width-percent-100 height-100-vh relative text-white background-image cover2" th:style="'background-image:url(' + @{${timeOfDayImage}} + ');'">
            <div class="overlay">
                <div class="flex justify-space-between absolute bottom left right">
                    <a class="button danger medium no-shadow" href="/login">Allerede medlem?</a>
                    <a class="button danger medium no-shadow" href="/">Forside</a>
                </div>
                <h1 class="margin text-white">Dit første skridt til din næste rejse</h1>
            </div>
        </div>
    </div>
</body>

</html>