/*
 * Buttons.
 * Lavet af alle i gruppen.
 */

.button {
    /* Remove underline from links */
    text-decoration: none;

    /* Set button padding */
    padding: 5px 10px;

    /* Modify button borders */
    border-style: solid;
    border-width: 1px;  
    border-radius: 2px;

    /* Change the cursor graphic */
    cursor: pointer;

    box-shadow: 2px 2px 3px rgb(201, 201, 201);
}

.button.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.button.secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);
}

.button.info {
    background-color: var(--info);
    border-color: var(--info);
    color: var(--white);
}

.button.success {
    background-color: var(--success);
    border-color: var(--success);
    color: var(--white);
}

.button.danger {    
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--white);
}

.button.warning {    
    background-color: var(--warning);
    border-color: var(--warning);
    color: var(--white);
}

/* Normal:hover */ 

.button.primary:hover {
    background-color: var(--white);
    border-color: var(--primary);
    color: var(--primary);
}

.button.secondary:hover {
    background-color: var(--white);
    border-color: var(--secondary);
    color: var(--secondary);
}

.button.info:hover {
    background-color: var(--white);
    border-color: var(--info);
    color: var(--info);
}

.button.success:hover {
    background-color: var(--white);
    border-color: var(--success);
    color: var(--success);
}

.button.danger:hover {    
    background-color: var(--white);
    border-color: var(--danger);
    color: var(--danger);
}

.button.warning:hover {    
    background-color: var(--white);
    border-color: var(--warning);
    color: var(--warning);
}

/* rounded */

.button.rounded {
    border-radius: 100%;
    padding: 10px 12px;
}

/* size */

.button.small {
    font-size: small;
}

.button.medium {
    font-size: medium;
}

.button.large {
    font-size: large;
}