/*
 * Container.
 * Lavet af alle i gruppen.
 */

.container {
    margin: var(--margin);
}

.container.fluid {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.container.histogram{
    position: relative;
    scale: 50%;
    bottom: 850px;
    left: 220px;
}

.container.booking-form{
    border: 1px black;
}

