/*
 * Flex.
 * Lavet af alle i gruppen.
 */

.flex {
    display: flex;
}

.flex.align-items-center {
    align-items: center;
}

.flex.justify-space-between {
    justify-content: space-between;
}

.flex.justify-space-evenly {
    justify-content: space-evenly;
}

.flex.justify-space-center {
    justify-content: center;
}

.flex.direction-row {
    flex-direction: row;
}

.flex.direction-wrap {
    flex-wrap: wrap;
}

.flex.gap-5 {
    gap: 5px;
}

.flex.gap-8 {
    gap: 8px;
}

.flex.gap-20 {
    gap: 20px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-wrap{
    flex-wrap: wrap;
}