/*
 * Form.
 * Lavet af alle i gruppen.
 */

.form {
}

.form label {
    display: block;
    padding-bottom: 10px;    
}

.form.booking-form{
    border: black 8px;
}


.form input,
.form textarea {
    padding: 10px;
    border: 1px solid var(--secondary);
    box-shadow: inset 2px 2px 3px var(--secondary);
    border-radius: 2px;
}

.form textarea {
    resize: none;
}

.form .input-control {
    margin-bottom: var(--margin);
}

.form .input-control input.fill {
    width: 100%;
}