/*
 * Lines.
 * Lavet af alle i gruppen.
 */

hr {
    border: 1px solid var(--secondary);
}

.vr {
    width: 1px;
    height: 40px;
    margin: 0px 5px;
    background-color: var(--secondary);
    display: inline-block;
}