/*
 * Responsive properties.
 * Lavet af alle i gruppen.
 */


@media screen and (min-width: 800px) {
    .header .wrapper {
        width: 800px;
        margin: auto;
    }

    .text-box {
        width: 800px;
        margin: auto;
        margin-bottom: var(--margin);
    }
}