/*
 * Table.
 * Lavet af alle i gruppen.
 */

.table.cars th,.table.cars td{
    text-align: left;
    padding: 8px;
}

.table-wrap {
    overflow-y: scroll;
    height: 230px;
    width: 380px;
    display: inline-block;
}


.table.border,
.table.border th,
.table.border td {
    border: 1px solid var(--primary);
}