/*
 * Text box.
 */

.text-box {
    padding: var(--padding);
    border-style: solid;
    border-width: 1px;
    margin-bottom: var(--margin);
}

.text-box.primary {
    color: var(--primary);
}

.text-box.secondary {
    color: var(--secondary);
}

.text-box.info {
    color: var(--info);
}

.text-box.success {
    color: var(--success);
}

.text-box.danger {    
    color: var(--danger);
}

.text-box.warning {    
    color: var(--warning);
}