/*
 * Typography.
 * Lavet af alle i gruppen.
 */

body {
    font-family: var(--primary-font);
    color: var(--primary-txt);
    font-size: medium;
}

/* Headers */ 

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    color: var(--secondary-txt);
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: smaller;
}

/* Aligment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}