<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
<head>
    <!-- Mads -->
    <meta charset="UTF-8">
    <title>Edit Damage Specification</title>
</head>
<body layout:fragment="content">

<div class="flex justify-space-evenly text-center">
    <div class="text-box primary">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
        <span class="line-4"></span>
        <span class="line-5"></span>
        <span class="line-6"></span>
        <span class="line-7"></span>
        <span class="line-8"></span>

        <h2>Rediger Skade Specifikation</h2>
        <form th:action="@{/damage-specification/edit}" th:object="${damageSpec}" th:method="patch" class="form">
            <div class="input-control">
                <h3 th:text="${damageSpec.description}"></h3>
                <label>Pris:
                    <input th:field="*{price}" style="margin-left: 4.8em" type="text">
                </label>
                <input th:field="*{description}" type="text" hidden>
                <!--
                <label>Skadet:
                    <input th:field="${damageSpec.damaged}" type="checkbox">
                </label>
                -->
            </div>
            <div>
                <button type="submit" class="button primary medium">Opdater</button>
            </div>
        </form>
        <a th:href="@{/damage-specifications}"><button class="button primary medium">Tilbage</button></a>
    </div>
    <div>
        <i class="fa-solid fa-circle-exclamation" style="font-size: 25vw; color: var(--primary); padding: var(--padding)"></i>
    </div>
</div>

</body>
</html>