<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<!--
Written by Mikkel Aabo Simonsen
-->
<head th:replace="layout/fragments/head.html :: head('Biludlejning')" />
<body style="margin-bottom: 80px;">

    <div th:replace="layout/fragments/header.html :: header" />
    <div th:replace="layout/fragments/alert.html :: alert" />

    <div class="container">
        
        <h1>New Car</h1>

        <form th:action="@{/add-car}" method="post" th:object="${car}" class="form">

            <div class="flex-column flex gap-8">
                <input th:field="*{vehicleNumber}" type="hidden">

                <div>
                    <label for="frame-number">Frame number: </label>
                    <input id="frame-number" th:field="*{frameNumber}" type="text" required>
                </div>

                <div>
                    <label for="brand">Brand: </label>
                    <input id="brand" th:field="*{brand}" type="text" required>
                </div>

                <div>
                    <label for="model">Model: </label>
                    <input id="model" th:field="*{model}" type="text" required>
                </div>

                <div>
                    <label for="color">Color: </label>
                    <input id="color" th:field="*{color}" type="text" required>
                </div>

                <div>
                    <label for="equipment-level">Equipment level: </label>
                    <input id="equipment-level" th:field="*{equipmentLevel}" type="number" required>
                </div>

                <div>
                    <label for="steel-price">Steel price: </label>
                    <input id="steel-price" th:field="*{steelPrice}" type="number" required>
                </div>

                <div>
                    <label for="sell-price">Salgspris: </label>
                    <input id="sell-price" th:field="*{sellPrice}" type="number" required>
                </div>

                <div>
                    <label for="registration-fee">Registration price:</label>
                    <input id="registration-fee" th:field="*{registrationFee}" type="number" required>
                </div>

                <div>
                    <label for="co2-discharge">Co2 discharge:</label>
                    <input id="co2-discharge" th:field="*{co2Discharge}" type="number" required>
                </div>

                <div>
                    <label for="inspected">Inspected: </label>
                    <input id="inspected" th:field="*{inspected}" type="checkbox">
                </div>

                <div>
                    <input class="button primary" type="submit" id="submitForm" value="Add car">
                </div>

                <p class="successPrompt" th:if="${param.success}">Car created successfully</p>
            </div>

        </form>
    </div>
    <div th:replace="layout/fragments/footer.html :: footer" />

</body>

</html>