<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">
<h1>Car Administration (<a th:href="@{/add-car}">new</a>)</h1>


<div class="text-box booked-list">
    <h3>All cars</h3>
    <span class="line-1"></span>
    <span class="line-2"></span>
    <span class="line-3"></span>
    <span class="line-4"></span>
    <span class="line-5"></span>
    <span class="line-6"></span>
    <span class="line-7"></span>
    <span class="line-8"></span>

    <table class="table">
        <tr>
            <th>Vehicle #</th>
            <th>Brand</th>
            <th>Model</th>
            <th></th>
        </tr>
        <ul th:each="car: ${cars}">
            <tr>
                <td><span th:text="${car.getVehicleNumber()}"/></td>
                <td><span th:text="${car.getBrand()}"/></td>
                <td><span th:text="${car.getModel()}"/></td>
                <td>
                    <div class="input-control">
                        <a class="button"
                           th:href="@{/edit-car/{vehicleNumber}(vehicleNumber = ${car.getVehicleNumber()})}">Edit</a>
                    </div>
                </td>
            </tr>

        </ul>
    </table>
</div>

<div class="text-box booked-list">
    <h3>Cars for inspection</h3>
    <span class="line-1"></span>
    <span class="line-2"></span>
    <span class="line-3"></span>
    <span class="line-4"></span>
    <span class="line-5"></span>
    <span class="line-6"></span>
    <span class="line-7"></span>
    <span class="line-8"></span>
    <div class="flex align-items-center justify-space-between gap-5">
        <table class="table">
            <tr>
                <th>Vehicle #</th>
                <th>Brand</th>
                <th>Model</th>
                <th></th>
            </tr>
            <ul th:each="car: ${cars}">
                <tr th:if="${car.getInspected() != true}">
                    <td><span th:text="${car.getVehicleNumber()}"/></td>
                    <td><span th:text="${car.getBrand()}"/></td>
                    <td><span th:text="${car.getModel()}"/></td>
                    <td>
                        <div class="input-control">
                            <a class="button"
                               th:href="@{/edit-car/{vehicleNumber}(vehicleNumber = ${car.getVehicleNumber()})}">Edit</a>
                        </div>
                    </td>
                </tr>
            </ul>
        </table>
    </div>
</div>

<div class="text-box damaged-list">
    <h3>Damaged cars</h3>
    <span class="line-1"></span>
    <span class="line-2"></span>
    <span class="line-3"></span>
    <span class="line-4"></span>
    <span class="line-5"></span>
    <span class="line-6"></span>
    <span class="line-7"></span>
    <span class="line-8"></span>
    <div class="flex align-items-center justify-space-between gap-5">
        <div class="table">
            <table>
                <tr>
                    <th>Vehicle #</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th></th>
                </tr>
                <ul th:each="car: ${cars}">
                    <tr th:if="${car.getDamaged() != true}">
                        <td><span th:text="${car.getVehicleNumber()}"/></td>
                        <td><span th:text="${car.getBrand()}"/></td>
                        <td><span th:text="${car.getModel()}"/></td>
                        <td>
                            <div class="input-control">
                                <a class="button"
                                   th:href="@{/edit-car/{vehicleNumber}(vehicleNumber = ${car.getVehicleNumber()})}">Edit</a>
                            </div>
                        </td>
                    </tr>

                </ul>
            </table>
        </div>
    </div>
</div>
</body>
</html>