<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- Thomas -->
<body  layout:fragment="content">


<!--
bookings/create er overflødig nu hvor booking oprettes via car_list. Skal slettes senere.
-->
<div class="flex justify-space-evenly text-center">

<div class="text-box secondary text-center">
    <span class="line-1"></span>
    <span class="line-2"></span>
    <span class="line-3"></span>
    <span class="line-4"></span>
    <span class="line-5"></span>
    <span class="line-6"></span>
    <span class="line-7"></span>
    <span class="line-8"></span>

    <h2 class="text-box secondary text-center">Opret ny booking</h2>

<form th:action="@{/bookings/create}" method="post" th:object="${booking}" class="form">
    <div class="text-field">

        <div class="input-control">
            <label for="vnumber">Vognummer: </label>
        <input th:field="*{vehicleNumber}" id="vnumber" type="text" placeholder="Vehicle number" required>
        </div>

        <div class="input-control">
            <label for="stype">Subscription: </label>
        <input th:field="*{subscriptionName}" id="stype" type="text" placeholder="Subscription name" required>
        </div>


            <div class="input-control">
                <label for="pickupId">Afhentningssted ID: </label>
        <input th:field="*{pickupPointId}" id="pickupId" type="text" placeholder="Pickup point id" required>
            </div>
            <br>
        <input class="button primary medium" type="submit" value="Opret booking">

    </div>

</form>
</div>
<div>
    <img src="/images/textWheel.png" class="image fit" alt="Text wheel" style="width: 300px">
</div>
</div>
</body>
</html>