<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout}">

<!-- Thomas -->
<head th:replace="layout/fragments/head.html :: head('Rediger Udlejningsaftale')" />
<body layout:fragment="content">

    <div class="flex justify-space-evenly text-center">

        <div class="text-box secondary text-center">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
            <span class="line-4"></span>
            <span class="line-5"></span>
            <span class="line-6"></span>
            <span class="line-7"></span>
            <span class="line-8"></span>

            <h2 class="text-box secondary text-center">Rediger booking</h2>

            <form th:action="@{/bookings/edit/{id}(id=${booking.getId()})}" th:object="${booking}" th:method="patch"
                class="form">


                <div class="input-control">
                    <label for="vnumber">Vognummer: </label>
                    <input th:field="*{vehicleNumber}" id="vnumber" type="text" placeholder="Vognnummer" required>
                </div>

                <div class="input-control">
                    <label for="stype">Subscription: </label>
                    <input th:field="*{subscriptionName}" id="stype" type="text" placeholder="Subscription name"
                        required>
                </div>


                <div class="input-control">
                    <label for="pickupId">Afhentningssted ID: </label>
                    <input th:field="*{pickupPointId}" id="pickupId" type="text" placeholder="Pickup point id" required>
                </div>
                <br>
                <input class="button primary medium" type="submit" value="Registrer ændringer">




            </form>
        </div>
        <div>
            <img src="/images/textWheel.png" class="image fit" alt="Text wheel" style="width: 300px">
        </div>
    </div>
</body>

</html>