<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3 class="text-box secondary text-center">Rediger booking</h3>
<div class="text-box secondary text-center">
  <span class="line-1"></span>
  <span class="line-2"></span>
  <span class="line-3"></span>
  <span class="line-4"></span>
  <span class="line-5"></span>
  <span class="line-6"></span>
  <span class="line-7"></span>
  <span class="line-8"></span>

<form th:action="/bookings/edit/ + ${booking.id}" th:object="${booking}" th:method="patch" class="form">


    <div class="input-control">
      <label for="vnumber">Vognummer: </label>
      <input th:field="*{booking.vehicleNumber}" id="vnumber" type="text" placeholder="Vognnummer" required>
    </div>

    <div class="input-control">
      <label for="stype">Subscription: </label>
      <input th:field="*{booking.subscriptionName}" id="stype" type="text" placeholder="Subscription name" required>
    </div>


    <div class="input-control">
      <label for="pickupId">Afhentningssted ID: </label>
      <input th:field="*{booking.pickupPointId}" id="pickupId" type="text" placeholder="Pickup point id" required>
    </div>
    <br>
    <input class="button primary medium" type="submit" value="Registrer ændringer">




</form>
</div>
</body>
</html>