<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragments/head.html :: head('Udlejningsaftaler')" />
<!-- Thomas -->

<body>

    <div th:replace="layout/fragments/header.html :: header" />

    <div class="margin">
        <div th:replace="layout/fragments/alert.html :: alert" />

        <h1 class="text-black text-center">Udlejningsaftaler</h1>

        <div>
            <p class="text-center">Se og administrer aftaler.</p>
    
            <div class="text-box secondary text-center">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                
                <div>
                    <table class="table border width-percent-100">
                        <tr>
                            <th>Booking ID</th>
                            <th>Bil</th>
                            <th>Abonnement</th>
                            <th>State</th>
                            <th>Oprettet</th>
                            <th>Valgmulighed</th>
                            <th sec:authorize="hasRole('ROLE_EMPLOYEE')">Aflever/Modtag</th>
                            <th sec:authorize="hasRole('ROLE_EMPLOYEE')">Skaderapport</th>
                        </tr>
                        <tr th:each="booking : ${bookinglist}">
                            <td th:text="${booking.getId()}" />
                            <td>
                                <span th:text="${booking.getCar().getBrand()}" />
                                <span th:text="${booking.getCar().getModel()}" />
                            </td>
                            <td th:text="${booking.getSubscriptionName()}" />
                            <td>
                                <strong th:text="${booking.getState()}" />
                            </td>
                            <td th:text="${#temporals.format(booking.getCreatedAt(), 'dd-MM-yyyy HH:mm')}" />
                            <td>
                                <a th:href="@{/bookings/show/{id}(id = ${booking.getId()})}"
                                    class="button primary medium">
                                        Se aftale
                                </a>
                            </td>  
                            <td sec:authorize="hasRole('ROLE_EMPLOYEE')"> 
                                <a th:if="${booking.getDeliveredAt() == null}" 
                                   th:href="@{/bookings/deliver/{id}(id = ${booking.getId()})}"
                                   class="button danger medium">
                                        Aflever til kunde
                                </a>
                                
                                <div th:if="${booking.getDeliveredAt() != null && booking.getReturnedAt() == null}"
                                     th:id="${'booking-return-' + booking.getId()}">
                                    <a th:href="@{/bookings/return/{id}(id = ${booking.getId()})}"
                                       class="button danger small">
                                        Returner til beholdning
                                    </a>
                                    <a th:href="@{/bookings/sell/{id}(id = ${booking.getId()})}"
                                       class="button danger small"
                                       th:data-id="${booking.getId()}"
                                       onclick="showSellSpinner(this)">
                                        Sælg til lejer
                                    </a>
                                </div>

                                <div th:id="${'booking-return-spinner-' + booking.getId()}" class="display hide">
                                    <div class="padding border secondary margin-bottom text-center">
                                        <i class="fa-solid fa-circle-notch fa-spin" style="font-size: 40px;"></i><br />
                                        <br />
                                        Sætter bilen som solgt og sender faktura.
                                    </div>
                                </div>
                                
                            </td>
                            <td sec:authorize="hasRole('ROLE_EMPLOYEE')">
                                <a th:if="${booking.getDeliveredAt() != null && booking.getDamageReport() != null}"
                                   th:href="@{/damage-report/show/{id}(id = ${booking.getId()})}"
                                   class="button secondary medium">
                                        Se skaderapport
                                </a>
                                <a th:if="${!booking.getCar().getSold() && booking.getDeliveredAt() != null && booking.getReturnedAt() != null && booking.getDamageReport() == null}" 
                                   th:href="@{/damage-report/new/{id}(id = ${booking.getId()})}"
                                   class="button warning medium">
                                        Udfør skaderapport
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showSellSpinner(e) {
            const id = e.dataset.id;
            const spinner = document.getElementById('booking-return-spinner-' + id);
            const wrapper = document.getElementById('booking-return-' + id);

            spinner.className = "";
            wrapper.className = "display hide";
        }
    </script>

    <div th:replace="layout/fragments/footer.html :: footer" />

</body>

</html>