<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head></head>
<body layout:fragment="content">
<h3>List of bookings</h3>
<tr th:each="b : ${bookinglist}">
    <td th:text="${b.getCar.model}"></td>
    <td th:text="${b.subscriptionName}"></td>
    <td th:text="${b.deliveredAt}"></td>
    <td th:text="${b.createdAt}"></td>
</tr>
</body>
</html>

private long id;

private User user;
private Car car;
private String subscriptionName;
private CreditRating creditRating;
private PickupPoint pickupPoint;
private DamageReport damageReport;
private LocalDateTime deliveredAt;
private LocalDateTime createdAt;
private LocalDateTime updatedAt;