<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
<head>
    <-- Mads --/>
    <meta charset="UTF-8">
    <title>Edit Subscription</title>
</head>
<body layout:fragment="content">
    <form th:action="@{/subscriptions/edit}" th:object="${subscription}" th:method="patch">
        <input th:field="*{name}" type="hidden" required>
        <input th:field="*{days}" type="text" placeholder="days" required>
        <input th:field="*{price}" type="text" placeholder="price" required>

        <span>is available:</span>
        <input th:field="*{available}" type="checkbox" th:checked="${subscription.isAvailable()}">

        <input type="submit" value="update">

    </form>
</body>
</html>