<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
<head>
    <!-- Mads -->
    <meta charset="UTF-8">
    <title>Edit Subscription</title>
</head>
<body layout:fragment="content">

<div class="flex justify-space-evenly text-center">
    <div class="text-box primary">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
        <span class="line-4"></span>
        <span class="line-5"></span>
        <span class="line-6"></span>
        <span class="line-7"></span>
        <span class="line-8"></span>

        <h2>Rediger Abonnement</h2>
    <form th:action="@{/subscriptions/edit}" th:object="${subscription}" th:method="patch" class="form">
        <div class="input-control">
            <label>Navn:
                <input th:field="*{name}" type="hidden" required>
            </label>

            <label>Dage:
                <input th:field="*{days}" type="text" placeholder="days" required>
            </label>

            <label>Pris:
                <input th:field="*{price}" type="text" placeholder="price" style="margin-left: 1em" required>
            </label>

            <label>Tilgængelig:
                <input th:field="*{available}" type="checkbox" th:checked="${subscription.available}">
            </label>
        </div>

        <input type="submit" value="Opdater" class="button primary medium">

    </form>
    </div>
</div>
</body>
</html>