<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout}">

<!-- Written by Mads Kristian Pedersen -->
<head th:replace="layout/fragments/head.html :: head('Abonnementer')" />
<body layout:fragment="content">
    <div sec:authorize="hasAnyRole('ROLE_CLIENT', 'ROLE_ANONYMOUS')" th:replace="subscriptions/fragments/client_index.html :: clientIndex('Sammensæt din aftale med en af vores abonnementer')" />

    <!-- EMPLOYEE SETTINGS -->
    <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
        <h2 class="margin text-center">Abonnementer</h2>

        <div th:if="${subscriptions.size() == 0}">
            <div th:replace="layout/fragments/empty_state.html :: empty_state('Ingen abonnementer blev fundet.', 'Klik på knappen for at komme igang.', '/subscriptions/new', 'Opret Abonnement')" />
        </div>

        <div th:if="${subscriptions.size() > 0}"
            class="flex justify-space-evenly text-center">
            <div class="text-box primary">
                <div th:replace="layout/fragments/lines.html :: lines" />

                <table class="table border">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Dage</th>
                            <th>Pris</th>
                            <th>Tilgængelig</th>
                            <th>Rediger</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sub : ${subscriptions}">
                            <td th:text="${sub.name}">Beskrivelse</td>
                            <td th:text="${sub.days}">Dage</td>
                            <td th:text="${sub.price} + ' DKK'">Pris</td>
                            <td th:text="${sub.available} ? 'Ja' : 'Nej'">Tilgængelig</td>
                            <td><a th:href="@{/subscriptions/edit/{name}(name = ${sub.name})}"><button
                                        class="button primary medium">Rediger</button></a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <a th:href="@{/subscriptions/new}">
                    <button class="button primary medium">Tilføj nyt abonnement</button>
                </a>
            </div>
            <div>
                <i class="fa-solid fa-clipboard"
                    style="font-size: 20vw; color: var(--primary); padding: var(--padding)"></i>
            </div>
        </div>
    </div>
</body>

</html>