<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">
    <h1>Subscriptions (<a th:href="@{/subscriptions/new}">new</a>)</h1>
    <ul th:each="subscription: ${subscriptions}">
        <li>
            <p>Name: <span th:text="${subscription.getName()}" /></p>
            <p>Days: <span th:text="${subscription.getDays()}" /></p>
            <p>Price: <span th:text="${subscription.getPrice()}" /></p>
            <p>Available: <span th:text="${subscription.isAvailable() ? 'TRUE' : 'FALSE'}" /></p>
            <a th:href="@{/subscriptions/edit/{name}(name = ${subscription.getName()})}">Edit</a>
        </li>
    </ul>
</body>
</html>