<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
    <head></head>
    <body layout:fragment="content">

        <div>
            <h1>Button colors</h1>
            <button class="button primary">primary</button>
            <button class="button secondary">secondary</button>
            <button class="button info">info</button>
            <button class="button success">success</button>
            <button class="button danger">danger</button>
            <button class="button warning">warning</button>
            <h1>Rounded</h1>
            <button class="button primary rounded"><i class="fa-solid fa-right-from-bracket"></i></button>
            <button class="button secondary rounded"><i class="fa-solid fa-right-from-bracket"></i></button>
            <button class="button info rounded"><i class="fa-solid fa-right-from-bracket"></i></button>
            <button class="button success rounded"><i class="fa-solid fa-right-from-bracket"></i></button>
            <button class="button danger rounded"><i class="fa-solid fa-right-from-bracket"></i></button>
            <button class="button warning rounded"><i class="fa-solid fa-right-from-bracket"></i></button>
            <h1>Button sizes</h1>
            <button class="button primary small">small</button>
            <button class="button primary medium">medium</button>
            <button class="button primary large">large</button>
        </div>

        <hr>

        <div>
            <h1>Alerts</h1>
            <div class="alert primary">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="alert secondary">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="alert info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="alert success">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="alert danger">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="alert warning">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <hr>

        <div>
            <h1>Containers</h1>
            <div class="container">
                <p>container</p>
            </div>
            <div class="container fluid">
                <p>container fluid</p>
            </div>
        </div>

        <hr>

        <div>
            <h1>Header</h1>
            <div class="header">
                <img src="/images/logo.png" alt="logo">
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
            </div>
        </div>

        <div>
            <h1>Text box</h1>
            <div class="text-box primary">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="text-box secondary">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="text-box info">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="text-box success">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="text-box danger">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="text-box warning">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <hr>

        <div>
            <h1>Flex</h1>
            <div class="flex">
                <div>flex</div>
                <div>flex</div>
                <div>flex</div>
            </div>

            <br>

            <div class="flex justify-space-between">
                <div>flex justify-space-between</div>
                <div>flex justify-space-between</div>
                <div>flex justify-space-between</div>
            </div>

            <br>
            
            <div class="flex justify-space-evenly">
                <div>flex justify-space-evenly</div>
                <div>flex justify-space-evenly</div>
                <div>flex justify-space-evenly</div>
            </div>

            <br>

            <div class="flex justify-space-evenly align-items-center">
                <h4>flex justify-space-evenly align-items-center</h4>
                <h5>flex justify-space-evenly align-items-center</h5>
                <h6>flex justify-space-evenly align-items-center</h6>
            </div>
        </div>

        <hr>

        <div>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
        </div>

        <hr>

        <div>
            <h1>Text</h1>
            <p>Paragraph</p>
            <small>small</small>
            <strong>strong</strong>
            <code>code</code>
            <quote>quote</quote>
        </div>

        <hr>

        <div>
            <h1>Text alignement</h1>
            <div class="text-left">left</div>
            <div class="text-center">center</div>
            <div class="text-right">right</div>
        </div>

        <hr>

        <div>
            <h1>Form</h1>
            <form class="form">
                <div class="input-control">
                    <label>text</label>
                    <input type="text">
                </div>

                <div class="input-control">
                    <label>number</label>
                    <input type="number">
                </div>

                <div class="input-control">
                    <label>email</label>
                    <input type="email">
                </div>

                <div class="input-control">
                    <label>password</label>
                    <input type="password">
                </div>

                <div class="input-control">
                    <label>checkbox</label>
                    <input type="checkbox">
                </div>

                <div class="input-control">
                    <label>textarea</label>
                    <textarea></textarea>
                </div>

                <div class="input-control">
                    <button type="submit" class="button primary">submit</button>
                </div>
            </form>
        </div>

        <hr>

        <div>
            <h1>List</h1>
            <ul class="list">
                <li>list</li>
                <li>list</li>
            </ul>
            <ul class="list no-style">
                <li>list no-style</li>
                <li>list no-style</li>
            </ul>
        </div>

        <hr>

        <div>
            <h1>Table</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>table</th>
                        <th>table</th>
                        <th>table</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>

            <table class="table border">
                <thead>
                    <tr>
                        <th>table table-border</th>
                        <th>table table-border</th>
                        <th>table table-border</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </body>
</html>
