<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/layout/layout}">
    <head></head>
    <body layout:fragment="content">
        
        <div class="alert alert-secondary">
            <h1>Welcome</h1>
            <p>Rent a car today by creating a free account!</p>
            <a th:href="@{/login}" class="button button-primary button-small">Login</a>
            
            <a th:href="@{/signup}" class="btn btn-outline-success btn-sm">Signup</a>
        </div>
    </body>
</html>
